body{
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS", cursive, sans-serif ;
	font-weight: 300 ;
}

#menuBar{
	width: 100% ;
	height: 40px ;
	background-color: #e0e0e0;
	border-bottom: 1px solid grey ;
}

#logo{
	padding: 5px 0 0 25px ;
	font-weight: bold;
	font-size: 22px;
	float: left;
}

#buttonDiv{
	float: right;
	padding: 5px 25px 0 0;
}

#runButton{
	font-size: 120% ;
	border: 1px solid black;
	border-radius: 5px;
	opacity: 0.6;
	cursor: pointer;
}

#toggles{
	width: 206px;
	margin: 3px auto;
	position: absolute;
	margin-left: 570px;
	list-style: none;
	border: 1px solid grey;
	border-radius: 5px;
	height: 27px;
	padding: 0px;
	top: 3px;
}

#toggles li{
	float: left;
	border-right: 1px solid grey;
	padding: 2px 7px ;
	cursor: pointer;
}

.clear{
	clear: both;
}

.codeContainer{
	height: 100%;
	width: 50%;
	float: left;
	position: relative;
}

.codeContainer textarea{
	height: 100%;
	width: 100%;
	border: none;
	border-right: 1px solid grey ;
	font-family: monotype;
	font-size: 90%;
	padding: 5px;
}

.codeLabel{
	position: absolute;
	right: 10px;
	top: 10px;
}

#CSSContainer, #JSContainer{
	display: none;
}

iframe{
	height: 100% ;
	width: 85%;
	position: relative;
	left: 20px;
	border: none;
}

.selected{
	background-color: grey;
}

#runButton:hover{
	opacity: 1.0;
	filter: alpha(opacity=100);
	box-shadow: 0 0 50px #ccc;
}
